/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import 'compass_bootstrap';

html {
	background-color: $grayLighter;
}

body {
	background-color: transparent;
}

#wrapper {
	padding-top: $baseline;
	@include fixed-container;
	background-color: $white;
}

#content {
	@include offset(1);
	@include columns($gridColumns - 2);
}

body#recent_scans {
	ol#scans {
		list-style: none;
		margin-left: 0;
		li {
			margin-bottom: 1em;
		}
	}

	header {
		@include clearfix;

		h4 {
			float: left;
		}
		#search_scans {
			padding-top: $baseline / 2;
			float: right;
		}
	}
}

body#import_protocol {
}

code {
	background-color: transparent;
}